@font-face {
    font-family: AmsiPro-Ultra;
    src: url(../../assets/fonts/AmsiPro-Ultra.otf);
}
@font-face {
    font-family: AmsiPro-Bold;
    src: url(../../assets/fonts/AmsiPro-Bold.otf);
}
@font-face {
    font-family: ProximaNova-Regular;
    src: url(../../assets/fonts/ProximaNova-Regular.otf);
}
@font-face {
    font-family: ProximaNova-Bold;
    src: url(../../assets/fonts/ProximaNovaBold.otf);
}

.banner{
    width: 100%;
}

.containerLanding{
    background-image: url("../../assets/background.jpg");
    height: 100vh;
}

.h1Landing{
    font-family: AmsiPro-Ultra;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 24px;
    margin: 5vh 0;
}
.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: #13492F;
    width: 160px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:active{
    background-color: #0d3321;
    box-shadow: 0px 0px 12px 1px rgba(26,102,65,0.46);
}

.btn p{
    font-family: AmsiPro-Ultra;
    color:white;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.btn:active{
    text-decoration: none;
}

.pasosContainer{
    padding: 1em 0;
}

.pasosItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 0;
}

.pasosCircle{
    width: 31px;
    height: 31px;
    border-style: solid;
    border-radius: 30px;
    border-width: 1pt;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pasosNumber{
    font-family: ProximaNova-Bold;
    font-size: 14px;
}
.pasosSubtitle{
    font-family: ProximaNova-Regular;
    font-size: 13px;
    margin-top: 1vh;
}